flows/Check_In.flow
<!--
 Copyright (c) 2021, salesforce.com, inc.
 All rights reserved.
 SPDX-License-Identifier: BSD-3-Clause
 For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause
-->

<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Distance</name>
        <label>Calculate Distance</label>
        <locationX>781</locationX>
        <locationY>459</locationY>
        <actionName>CheckIn_CMV:calculateGeoDistance</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Last_Visit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromLat</name>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromLong</name>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toLat</name>
            <value>
                <elementReference>recordLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toLong</name>
            <value>
                <elementReference>recordLongitude</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Current_Location</name>
        <label>Get Current Location</label>
        <locationX>649</locationX>
        <locationY>409</locationY>
        <actionName>CheckIn_CMV:getCurrentLocation</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Calculate_Distance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Visit_Record</name>
        <label>Navigate to Visit Record</label>
        <locationX>1691</locationX>
        <locationY>1801</locationY>
        <actionName>CheckIn_CMV:navigatoToRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Non_Compliance_Toast</name>
        <label>Show Non-Compliance Toast</label>
        <locationX>1913</locationX>
        <locationY>406</locationY>
        <actionName>CheckIn_CMV:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Distance Non-Compliant: you are further away than the maximum allowed distance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Success_Toast</name>
        <label>Show Success Toast</label>
        <locationX>1692</locationX>
        <locationY>1433</locationY>
        <actionName>CheckIn_CMV:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Check_Navigation_to_Visit_Settings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Operation executed successfuly!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Get_Last_Visit_Id_to_Visit_Id</name>
        <label>Assign Get Last Visit Id to Visit Id</label>
        <locationX>1861</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Visit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_is_Check_In_Var</name>
        <label>Set is Check In Var</label>
        <locationX>1447</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>isCheckIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Visit_Fields</name>
        <label>Update Last Visit Fields</label>
        <locationX>1910</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Check_out_Coordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Check_out_Coordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Check_out_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Check_out_Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatedDistance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Check_out_Max_Distance_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit_Default_Settings.Max_Distance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Check_out_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Visit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Enforce_Compliance</name>
        <label>Check Enforce Compliance</label>
        <locationX>1903</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>Check_In_or_Check_Out2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allow Check In</defaultConnectorLabel>
        <rules>
            <name>Enforce_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Default_Settings.Allow_Non_compliant_Visits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isDistanceCompliant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Non_Compliance_Toast</targetReference>
            </connector>
            <label>Enforce Compliance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_or_Check_Out</name>
        <label>Check In or Check Out</label>
        <locationX>1218</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Check Out</defaultConnectorLabel>
        <rules>
            <name>Is_Check_In</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Visit.Check_out_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_is_Check_In_Var</targetReference>
            </connector>
            <label>Is Check In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_or_Check_Out2</name>
        <label>Check In or Check Out</label>
        <locationX>1700</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Visit_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Check Out</defaultConnectorLabel>
        <rules>
            <name>Is_Check_In2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Check_In</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Object_0</targetReference>
            </connector>
            <label>Is Check In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Navigation_to_Visit_Settings</name>
        <label>Check Navigation to Visit Settings</label>
        <locationX>1685</locationX>
        <locationY>1576</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Default_Settings.Navigate_to_Visit_on_Check_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCheckIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Visit_Default_Settings.Navigate_to_Visit_on_Check_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCheckIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Visit_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Object</name>
        <label>Decide Object</label>
        <locationX>168</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Object_0</name>
        <label>Decide Object</label>
        <locationX>1569</locationX>
        <locationY>952</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Account_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit_0</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit_0_0</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit_0_0_0</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>This is a template. Do not activate. Create a new flow based on this template (reference the documentation for more detail)</description>
    <formulas>
        <name>isDistanceCompliant</name>
        <dataType>Boolean</dataType>
        <expression>{!calculatedDistance} &lt;= {!Get_Visit_Default_Settings.Max_Distance__c}</expression>
    </formulas>
    <interviewLabel>Check In {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Check In</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Visit</name>
        <label>Create Visit</label>
        <locationX>1387</locationX>
        <locationY>1145</locationY>
        <assignRecordIdToReference>visitId</assignRecordIdToReference>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Distance__c</field>
            <value>
                <elementReference>calculatedDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Max_Distance_Compliance__c</field>
            <value>
                <elementReference>Get_Visit_Default_Settings.Max_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_0</name>
        <label>Create Visit</label>
        <locationX>1480</locationX>
        <locationY>1133</locationY>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Check_in_Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Distance__c</field>
            <value>
                <elementReference>calculatedDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Max_Distance_Compliance__c</field>
            <value>
                <elementReference>Get_Visit_Default_Settings.Max_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_0_0</name>
        <label>Create Visit</label>
        <locationX>1616</locationX>
        <locationY>1136</locationY>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Check_in_Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Distance__c</field>
            <value>
                <elementReference>calculatedDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Max_Distance_Compliance__c</field>
            <value>
                <elementReference>Get_Visit_Default_Settings.Max_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_0_0_0</name>
        <label>Create Visit</label>
        <locationX>1737</locationX>
        <locationY>1133</locationY>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Check_in_Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Distance__c</field>
            <value>
                <elementReference>calculatedDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Max_Distance_Compliance__c</field>
            <value>
                <elementReference>Get_Visit_Default_Settings.Max_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>454</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLatitude</assignToReference>
            <field>BillingLatitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLongitude</assignToReference>
            <field>BillingLongitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_for_Opty</name>
        <label>Get Account for Opty</label>
        <locationX>449</locationX>
        <locationY>597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indirectRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLatitude</assignToReference>
            <field>BillingLatitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLongitude</assignToReference>
            <field>BillingLongitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>454</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>recordCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLatitude</assignToReference>
            <field>MailingLatitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLongitude</assignToReference>
            <field>MailingLongitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordPostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Visit</name>
        <label>Get Last Visit</label>
        <locationX>931</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Visit_Default_Settings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>452</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>recordCity</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordCountry</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLatitude</assignToReference>
            <field>Latitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLongitude</assignToReference>
            <field>Longitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordPostalCode</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordState</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordStreet</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>310</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_for_Opty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>indirectRecordId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Default_Settings</name>
        <label>Get Visit Default Settings</label>
        <locationX>1111</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In_or_Check_Out</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit_Compliance__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Visit</name>
        <label>Update Last Visit</label>
        <locationX>1912</locationX>
        <locationY>1135</locationY>
        <connector>
            <targetReference>Assign_Get_Last_Visit_Id_to_Visit_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_Last_Visit</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>817</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;An error has ocurred.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Contact your Salesforce administrator with the following error message:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>1710</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Enforce_Compliance</targetReference>
        </connector>
        <fields>
            <name>isCheckInMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;You are checking in&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCheckIn</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>isCheckOutMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;You are checking out&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCheckIn</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Distance</name>
            <fieldText>&lt;p&gt;Distance: &lt;b&gt;{!Calculate_Distance.distance}&lt;/b&gt; km.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nonCompliant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;NON-COMPLIANT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isDistanceCompliant</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>checkIn</name>
            <extensionName>CheckIn_CMV:checkIn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectCity</name>
                <value>
                    <elementReference>recordCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectCountry</name>
                <value>
                    <elementReference>recordCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectPostalCode</name>
                <value>
                    <elementReference>recordPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectState</name>
                <value>
                    <elementReference>recordState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectStreet</name>
                <value>
                    <elementReference>recordStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLatitude</name>
                <value>
                    <elementReference>Get_Current_Location.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLongitude</name>
                <value>
                    <elementReference>Get_Current_Location.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decide_Object</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>calculatedDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <elementReference>Calculate_Distance.distance</elementReference>
        </value>
    </variables>
    <variables>
        <name>indirectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCheckIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>recordLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>